<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Radicale for QNAP</title>
    <link rel="stylesheet" href="static/css/foundation.css"/>
    <script src="static/js/vendor/modernizr.js"></script>

    <style type="text/css">
        body {
            margin-top: 40px;
        }
    </style>

</head>
<body>

    <div class="row">
    % for text, type in messages:
        <div data-alert class="alert-box {{type}}">
            {{ text }}
        </div>
    % end
    </div>

</body>
</html>
