<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Radicale for QNAP</title>
    <link rel="stylesheet" href="static/css/foundation.css"/>
    <script src="static/js/vendor/modernizr.js"></script>

    <style type="text/css">
        form.custom {
            margin-bottom: 400px;
        }
    </style>

</head>
<body>

%def row_heading(label, id):
<div class="row">
    <div class="large-12 columns">
        <h1 data-magellan-destination="{{ id }}" id="{{ id }}">{{ label }}</h1>
        <hr/>
    </div>
</div>
%end

%def row_select(label, id, values):
<div class="row">
    <div class="large-3 columns">
        <label for="{{ id }}">{{ label }}</label>
    </div>
    <div class="large-9 columns">
        <select id="{{ id }}" name="{{ id }}" required="true">
        % for value, label in values:
            <option value="{{ value }}">{{ label }}</option>
        % end
        </select>
    </div>
</div>
%end

%def row_users(id, label, value):
<div class="row">
    <div class="large-3 columns">
        <label for="{{ id }}">{{ label }}</label>
    </div>
    <div class="large-9 columns">
        <input type="text" id="{{ id }}" name="{{ id }}" value="{{ value }}" required="true">
    </div>
</div>
%end

%def row_input_text(id, label, value):
<div class="row">
    <div class="large-3 columns">
        <label for="{{ id }}">{{ label }}</label>
    </div>
    <div class="large-9 columns">
        <input type="text" id="{{ id }}" name="{{ id }}" value="{{ value }}" required="true">
    </div>
</div>
%end

%def row_input_boolean(id, label, value):
<div class="row">
    <div class="large-3 columns">
        <label for="{{ id }}">{{ label }}</label>
    </div>
    <div class="large-9 columns">
        <div class="switch">
            <input id="{{ id }}" value="{{ value }}" name="{{ id }}" type="checkbox" {{ "checked" if value == True else "" }}>
            <label for="{{ id }}">{{ label }}</label>
        </div>
    </div>
</div>
%end

%def save_and_restart():
    <ul class="button-group right">
    <!--<li><button type="submit" class="button tiny" name="save" value="save"> Save</button></li>-->
    <li class="menu-icon"><button type="submit" class="button tiny" name="restart" value="restart">Save and Restart</button></li>
    </ul>
%end

<form class="custom" method="post">

    <div data-magellan-expedition="fixed">
        <div class="row">
            <div class="small-6 columns">
                <dl class="sub-nav" />
            </div>
            <div class="small-6 columns">
                %save_and_restart()
            </div>
        </div>
    </div>

    <div class="row">
    % for text, type in messages:
        <div data-alert class="alert-box {{type}}">
            {{ text }}
            <a href="#" class="close">&times;</a>
        </div>
    % end
    </div>

    <div class="panel">
    %row_heading("Server", "server")
    %row_input_text("radicale_server_hosts", "Hosts", config.get('server', 'hosts'))
    %row_input_boolean("radicale_server_ssl", "SSL", config.getboolean('server', 'ssl'))
    %row_input_text("radicale_server_certificate", "Certificate", config.get('server', 'certificate'))
    %row_input_text("radicale_server_key", "Key", config.get('server', 'key'))
    %row_input_boolean("radicale_server_dns_lookup", "DNS Lookup", config.getboolean('server', 'dns_lookup'))
    %row_input_text("radicale_server_realm", "Realm", config.get('server', 'realm'))
    </div>
    <div class="panel">
    %row_heading("Encoding", "encoding")
    %row_input_text("radicale_server_encoding_request", "Responding Request", "utf-8")
    %row_input_text("radicale_server_encoding_stock", "Collection", "utf-8")
    </div>

    <div class="panel">
    %row_heading("Auth", "auth")
    %row_users("radicale_auth_htpasswd_filename", "HTPasswd file", config.get('auth', 'htpasswd_filename'))
    </div>

    <div class="panel">
    %row_heading("Rights", "rights")
    %row_users("radicale_rights_file", "HTPasswd file", config.get('rights', 'file'))
    </div>

    <div class="panel">
    %row_heading("Storage", "storage")
    %row_users("radicale_storage_filesystem_folder", "Collection folder", config.get('storage', 'filesystem_folder'))
    </div>



</form>

<script src="static/js/vendor/jquery.js"></script>
<script src="static/js/foundation.min.js"></script>
<script>
    $(document).foundation();

    $(document).ready(function() {
        var tpl = '<dd data-magellan-arrival=""><a href=""></a></dd>';
        // \o/ \o/ \o/
        $('[data-magellan-destination]').each(function() {
            var id = $(this).prop('id');
            var destination = $(this).attr('data-magellan-destination');
            var label = $(this).text();
            var el = $(tpl);
            el.find('a').text(label).prop('href', '#' + id);
            el.attr('data-magellan-arrival', destination);
            $('.sub-nav').append(el);
        });
    });

</script>
</body>
</html>
