<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Radicale for QNAP</title>
    <link rel="stylesheet" href="static/css/foundation.css"/>
    <script src="static/js/vendor/modernizr.js"></script>
</head>
<body>

%def row_heading(label, id):
<div class="row">
    <div class="large12 columns">
        <h1 data-magellan-destination="{{ id }}" id="{{ id }}">{{ label }}</h1>
        <hr/>
    </div>
</div>
%end

%def row_users(id, label):
<div class="row">
    <div class="large-3 columns">
        <label for="{{ id }}">{{ label }}</label>
    </div>
    <div class="large-9 columns">
        <textarea></textarea>
    </div>
</div>
%end

%def row_input_text(id, label, value):
<div class="row">
    <div class="large-3 columns">
        <label for="{{ id }}">{{ label }}</label>
    </div>
    <div class="large-9 columns">
        <input type="text" id="{{ id }}" name="{{ id }}" value="{{ value }}" required="true">
    </div>
</div>
%end

%def row_input_boolean(id, label, value):
<div class="row">
    <div class="large-3 columns">
        <label for="{{ id }}">{{ label }}</label>
    </div>
    <div class="large-9 columns">
        <div class="switch">
            <input id="{{ id }}" value="{{ value }}" name="{{ id }}" type="checkbox" {{ "checked" if value == True else "" }}>
            <label for="{{ id }}">{{ label }}</label>
        </div>
    </div>
</div>
%end

%def save_and_restart():
    <div class="row">
        <div class="large-12 columns">
            <button type="submit" class="button" name="save" value="save"> Save</button>
            <button type="submit" class="button" name="restart" value="restart">Save and Restart</button>
        </div>
    </div>
%end


<div data-magellan-expedition="fixed">
    <div class="row">
        <div class="large-12 columns">
            <dl class="sub-nav" />
        </div>
    </div>
</div>

<form class="custom" method="post">

    <div class="panel" style="min-height: 800px;">
    %row_heading("Server", "server")
    %row_input_text("radicale_server_hosts", "Hosts", config.get('server', 'hosts'))
    %row_input_boolean("radicale_server_ssl", "SSL", config.getboolean('server', 'ssl'))
    %row_input_text("radicale_server_certificate", "Certificate", config.get('server', 'certificate'))
    %row_input_text("radicale_server_key", "Key", config.get('server', 'key'))
    %row_input_boolean("radicale_server_dns_lookup", "DNS Lookup", config.getboolean('server', 'dns_lookup'))
    %row_input_text("radicale_server_realm", "Realm", config.get('server', 'realm'))
    %save_and_restart()
    </div>
    <div class="panel" style="min-height: 800px;">
    %row_heading("Encoding", "encoding")
    %row_input_text("radicale_server_encoding_request", "Responding Request", "utf-8")
    %row_input_text("radicale_server_encoding_stock", "Collection", "utf-8")
    %save_and_restart()
        </div>

    <div class="panel" style="min-height: 800px;">
    %row_heading("Auth", "auth")
    %row_users("users", "Users")
    %save_and_restart()
        </div>



</form>

<script src="static/js/vendor/jquery.js"></script>
<script src="static/js/foundation.min.js"></script>
<script>
    $(document).foundation();

    $(document).ready(function() {
        var tpl = '<dd data-magellan-arrival=""><a href=""></a></dd>';
        // \o/ \o/ \o/
        $('[data-magellan-destination]').each(function() {
            var id = $(this).prop('id');
            var destination = $(this).attr('data-magellan-destination');
            var label = $(this).text();
            var el = $(tpl);
            el.find('a').text(label).prop('href', '#' + id);
            el.attr('data-magellan-arrival', destination);
            $('.sub-nav').append(el);
        });
    });

</script>
</body>
</html>
